extends layout

block content
  #container
    #product
      h1 #{roastery}
      h3 #{title}
      p 
        b Rosteri: 
        | #{roastery}
      p 
        b Land: 
        | #{country}
      p 
        b Producent: 
        | #{producer}
      p 
        b Bryggmetod: 
        | #{brewingMethod}
      p 
        b Om: 
        | #{about}