extends layout

block content
  #container
    #product
      h1 #{title}
      h3 #{roastery}
      div 
        b Land: 
        | #{country}
      div 
        b Producent: 
        | #{producer}
      div 
        b Bryggmetod: 
        | #{brewingMethod}
      p 
        b Om: 
        | #{about}